body{

font-family:Arial;

background:#f5f0e6;

}



.chat-container{

width:90%;

max-width:600px;

margin:auto;

}



#messages{

background:white;

padding:20px;

height:400px;

overflow:auto;

border-radius:15px;

}



.ai-message,
.user-message{

padding:12px;

margin:10px;

border-radius:10px;

}



.ai-message{

background:#eee;

}



.user-message{

background:#d9fdd3;

}



input{

width:70%;

padding:12px;

}



button{

padding:12px;

}
