body{

font-family:Arial;

background:#f5f0e6;

}


.container{

width:90%;

margin:auto;

text-align:center;

}


#result{

background:white;

padding:20px;

margin-top:20px;

border-radius:15px;

}
