body{

font-family:Arial;

background:#f5f0e6;

}


.upload-box{

width:90%;

max-width:500px;

margin:auto;

text-align:center;

background:white;

padding:30px;

border-radius:20px;

}



button{

padding:15px;

margin:15px;

border-radius:10px;

cursor:pointer;

}



img{

border-radius:15px;

}
