body{

font-family:Arial;

background:#f5f0e6;

}


.voice-box{

width:90%;

max-width:600px;

margin:auto;

text-align:center;

background:white;

padding:30px;

border-radius:20px;

}



button{

padding:15px;

border-radius:15px;

font-size:18px;

}



#answer{

margin-top:20px;

padding:20px;

background:#eee;

border-radius:15px;

}
