/* ===== RESET ===== */

*{
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}



/* ===== PAGE ===== */

body{

    margin:0;

    background:#111;

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    min-height:100vh;

}



/* ===== CARD ===== */

.card{

    width:380px;

    background:#222;

    padding:25px;

    border-radius:20px;

    text-align:center;

    box-shadow:0 0 20px rgba(0,0,0,0.5);

}



/* ===== TITLE ===== */

h1{

    color:#4caf50;

    margin-bottom:20px;

}



/* ===== CAMERA AREA ===== */

#preview{

    position:relative;

    width:320px;

    height:480px;

    margin:auto;

    overflow:hidden;

    border-radius:15px;

    background:black;

}



/* CAMERA VIDEO */

#camera{

    width:100%;

    height:100%;

    object-fit:cover;

}



/* CLOTHING OVERLAY */

.cloth-overlay{

    position:absolute;

    width:210px;

    top:150px;

    left:55px;

    opacity:0.75;

    z-index:5;

    pointer-events:none;

}



/* ===== INPUT ===== */

input{

    width:100%;

    padding:10px;

    margin-top:15px;

    background:white;

    border-radius:8px;

}



/* ===== BUTTON ===== */

button{

    width:100%;

    margin-top:15px;

    padding:12px;

    background:#4caf50;

    color:white;

    border:none;

    border-radius:10px;

    cursor:pointer;

    font-size:16px;

}



button:hover{

    background:#388e3c;

}



/* MOBILE RESPONSIVE */

@media(max-width:420px){


.card{

    width:95%;

}


#preview{

    width:100%;

    height:450px;

}


.cloth-overlay{

    width:55%;

    left:22%;

}


}
