body{

font-family:Arial;
background:#f5f0e6;
padding:20px;

}


h1{

text-align:center;
color:#1b1b1b;

}



.upload-box{

background:white;
padding:20px;
border-radius:15px;
max-width:500px;
margin:auto;

box-shadow:0 5px 20px #ccc;

}


input,button{

width:100%;
padding:12px;
margin-top:10px;

}


button{

background:#c9a227;
border:none;
color:white;
font-weight:bold;
cursor:pointer;

}


#wardrobe{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;

}



.card{

background:white;
padding:15px;
border-radius:15px;

}


.card img{

width:100%;
border-radius:10px;

}
